# docker-compose.yml
services:
  web:
    container_name: ccms_web
    build:
      context: .
      dockerfile: src/CCMS.Web/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Default=Server=host.docker.internal,1433;Database=CCMS;User Id=ccms_user;Password=ChangeThisStrong@123!;TrustServerCertificate=True;Encrypt=False;
    ports:
      - "8080:8080"
    volumes:
      - ./certs/openiddict.pfx:/app/openiddict.pfx:ro
      - ./data-protection:/home/appuser/.aspnet/DataProtection-Keys
    restart: unless-stopped

  migrator:
    container_name: ccms_migrator
    build:
      context: .
      dockerfile: Dockerfile.migrator
    environment:
      - ConnectionStrings__Default=Server=host.docker.internal,1433;Database=CCMS;User Id=ccms_user;Password=ChangeThisStrong@123!;TrustServerCertificate=True;Encrypt=False;
    restart: "no"
